<% if !notice.to_s.empty? then %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="container">
  <h1>Cao Hoai Viet's Blog</h1>
  <h3>This is my first Rails Application for CoderSchool</h3>
  <div class="row">
    <div class="col-lg-8">
      <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search title", class: 'form-control', type: 'text' %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class: 'btn btn-secondary' %>
            <%# <%= submit_tag "Search" %1> %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  </p>

  <%= render @articles %>
  <br>

  <%= link_to 'New Article', new_article_path, class: 'btn btn-info'%>
</div>
