<% if !notice.to_s.empty? then %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
</br>
<h3>Cao Hoai Viet's Blog</h3>
<h4>This is my first Rails Application for CoderSchool</h4>
</br>
<div class="row">
  <div class="col-lg-8">
    <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], placeholder: "Search title", class: 'form-control', type: 'text' %>
        <span class="input-group-btn">
          <%= submit_tag "Search", class: 'btn btn-secondary' %>
        </span>
      </div>
    <% end %>
  </div>
</div>
</p>

<% if @articles.present? %>
  <%= render @articles %>
  <br>
<% else %>
  <p>There are no title containing the term(s) = <b> <%= params[:search] %>.</b></p>
<% end %>

<%= link_to 'New Article', new_article_path, class: 'btn btn-info'%>
